/* Flag for hole */
#flag {
    margin-left: -50%;
}

.pole {
    height: 100px;
    width: 20px;
    color: rgb(150, 146, 146);
}

.flag {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgb(253, 114, 0);
    border-bottom: 25px solid transparent;
}