#tree1 {
  margin-left: -80%;
  /*margin-bottom: -3%;*/
}

#tree2 {
  margin-left: -40%;
}

#tree3 {
  margin-left: 60%;
}

.treeTop {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 2.3em solid transparent;
    border-right: 2.3em solid transparent;
    border-bottom: 3em solid #14630d;

    &:nth-child(2) {
        margin-top: -1.3em;
        border-left-width: 3em;
        border-right-width: 3em;
        border-bottom-width: 4em;
    }

    &:nth-child(3) {
        margin-top: -1.7em;
        border-left-width: 4em;
        border-right-width: 4em;
        border-bottom-width: 5em;
    }
}

.treeBottom {
    margin: 0 auto;
    width: 1.3em;
    height: 1.3em;
    background: #5c2a13;
}